body {
    font-family:  Arial, Helvetica ;
    background: #000000;
}

.menu {
    list-style: none; 
    padding: 0;
    background: black;
    width: 90%; 
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #f7cb3a;
    margin: 0 auto 30px;

}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    font-size: 16px;
}

.menu li{
    display: inline-block;
    text-align: center; 
    padding: 10px;
}

.menu li a:hover{
    background: #fffffe;
    color: #000000;
    border-radius: 10px;
}

/* Estilos para las estrellas */
.star {
    position: absolute;
    background: white;
    border-radius: 50000px; /* Forma circular perfecta */
    animation: twinkle var(--duration, 3s) infinite ease-in-out;
    opacity: 0;
}

/* Animación de parpadeo */
@keyframes twinkle {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Esto las coloca detrás de todo */
}
